{% extends parent_template|default:"organizer/base_organizer.html" %}
{% load display_form %}

{% block title %}
{{ block.super }} - Create Startup
{% endblock %}

{% block content %}
  {% url 'organizer_startup_create' as form_url %}
  {% form form_url 'Create Startup' %}
{% endblock %}
<!--
<div>
  <div>
    <form action="{% url 'organizer_startup_create' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Create Startup</button>
    </form>
  </div>
</div>
-->
